#canvas {
    position: absolute;
  }

  .sad {
    color: rgba(56, 92, 164, 0.729)
  }

  .happy {
    color: rgba(112, 255, 17, 0.966);
  }

  .netural {
    color: rgb(244, 225, 118);
  }

  .fearful {
    color: rgb(165, 42, 161);
  }

  .disgusted {
    color: purple;
  }

  .angry {
    color: rgb(189, 45, 45);
  }

  .surprised {
    color: brown;
  }